* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  color: #222;
  line-height: 1.6;
}

header {
  background: #ff914d;
  color: white;
  padding: 40px 20px;
  text-align: center;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
}

.logo {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  object-fit: cover;
  background: white;
  padding: 2px;
}



header h1 {
  font-size: 2.2rem;
}

header p {
  margin-top: 10px;
  font-size: 1.1rem;
}

main {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}
/* Controls */
.controls {
  display: flex;
  gap: 15px;
  margin-bottom: 35px;
  flex-wrap: wrap;
}

.controls input,
.controls select {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 260px;
}

.controls input:focus,
.controls select:focus {
  outline: none;
  border-color: #ff914d;
}


section {
  margin-bottom: 50px;
}

section h2 {
  color: #ff914d;
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.paper-card {
  border: 1px solid #eee;
  border-left: 5px solid #ff914d;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.paper-card h3 {
  margin-bottom: 8px;
}

.paper-card p {
  margin-bottom: 12px;
  color: #555;
}

.paper-card a {
  text-decoration: none;
  color: white;
  background: #ff914d;
  padding: 8px 14px;
  border-radius: 4px;
  font-size: 0.9rem;
}

.paper-card a:hover {
  opacity: 0.9;
}

footer {
  text-align: center;
  padding: 20px;
  background: #f8f8f8;
  font-size: 0.9rem;
}
